@import url('normalize.css');
@import url('fonts.css');

/*----------------------------------- MAIN SETTINGS -----------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Regular';
}

a {
  text-decoration: none;
  color: #c10000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class*="col-"] {
  float: left;
}


.container::after {
  display: table;
  content: '';
  clear: both;
}

/*-------------------------DESKTOP(960px to ~ px)--------------------------------*/

@media only screen and (min-width: 960px) {
	
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .container {
	  width: 1170px;
	  margin: auto;
  }
  /*-----------------------------------HEADER-------------------------------------------*/

  .header {
    padding: 7px 0;
	background: #203a63;
  }
  
  nav {
	padding-top: 4px;
  }
  
  .nav__item {
	  border-right: 2px solid #fff;
  }
  
  .nav__link {
    padding: 5px 5px;
    color: #fff;
	float: left;
  }
  
  .map-link {
	  float: right;
	  margin-right: 10px;
  }
  
  .site-map {
	  background: url('../img/icons.png') -202px 0;
	  width: 35px;
	  height: 35px;
  }
  
  .references {
	float: right;
	margin-right: 30px;
  }
  
  .references a{
	float: left;
  }
  
  .references__facebook {
	margin: 0 3px;
    float: left;
    background: url('../img/icons.png') 0 0;
    height: 35px;
    width: 35px;
  }

  .references__youtube {
	margin: 0 3px;
    float: left;
    background: url('../img/icons.png') -36px 0;
    height: 35px;
    width: 35px;
  }

  .references__wikipedia {
	margin: 0 3px;
    float: left;
    background: url('../img/icons.png') -72px 0;
    height: 35px;
    width: 36px;
  }
  
  .language {
	float: right;
  }
  
  .language a{
	  float: left;
  }

  .language__english {
	margin: 0 3px;
    background: url(../img/icons.png) -139px 0;
    height: 35px;
    width: 32px;
  }

  .language__ukrainian {
	margin: 0 3px;
    background: url('../img/icons.png') -108px 0;
    height: 35px;
    width: 32px;
  }

  .language__russian {
	margin: 0 3px;
    background: url('../img/icons.png') -170px 0;
    height: 35px;
    width: 32px;
  }

  /*-----------------------------------LOGO AND SEARCH SECTION-------------------------------------------*/
  .logo-search {
	  padding: 20px 0;
  }
  
  .logo {
    background: url('../img/logo.png');
    width: 230px;
    height: 73px;
  }
  
  .search {
	margin-top: 1.2em;
	float: right;
  }
  
  input[type="search"] {
    float: left;
    padding-left: 15px;
    width: 430px;
    height: 35px;
  }

  button[type="submit"] {
	float: left;
    background: #1286ff url('../img/search.png') no-repeat center;
    width: 40px;
    height: 35px;
    border: none;
  }

  button[type="submit"]:hover {
    cursor: pointer;
  }
  
  /*-----------------------------------TOP-MENU SECTION-------------------------------------------*/

  .top-menu {
	background: #3d88ff;
  }

  .menu__item {
	font-family: 'Open Sans Bold';
    padding: 10px 30px;	
	float: left;
    position: relative;
  }
  
  .menu__item:last-child {
	  margin-right: 0;
  }

  .submenu {
    display: none;
    border: 1px solid #898989;
    position: absolute;
	left: 0;
	top: 100%;
	z-index: 2;
    background: #fff;
  }

  .submenu__item {
    width: 150px;
  }

  .submenu__link {
    display: block;
    color: #02489c;
    padding: 10px;
  }

  .menu__item:hover {
    cursor: pointer;
	background: #203a63;
	color: #fff;
  }

  .menu__item:hover .submenu {
    display: block;
  }

  .submenu__item:hover .submenu__link {
    background: #ededed;
  }
  /*-----------------------------------POST SECTION-------------------------------------------*/
  
  .content-area {
	  padding-top: 20px;
  }
  
  /*-----------------------------------SLIDER-------------------------------------------*/
  
  .slider {
	  position: relative;
	  overflow: hidden;
  }
  
  .slides {
	  width: 7000px;
  }
  
  .slide {
	  float: left;
	  height: 300px;
	  width: 293px;
  }
  
   .arrow-left:hover, .arrow-right:hover {
	   opacity: 1;
	   transition: opacity 400ms;
	   cursor: pointer;
   }
  
  .arrow-left {
	  position: absolute;
	  opacity: 0.5;
	  top: 40%;
      left: 1%;
	  background: url(../img/icons.png) -237px 0;
      height: 60px;
      width: 60px;
  }
  
  .arrow-right {
	  position: absolute;
	  opacity: 0.5;
	  top: 40%;
      left: 92%;
	  background: url('../img/icons.png') -298px 0;
	  height: 60px;
	  width: 60px;
  }
  

  /*-----------------------------------EXPOSITIONS-------------------------------------------*/

  .expositions {
	  padding-left: 35px;
  }
  
  .exposition {
	  border-bottom: 2px solid #a8c9ff;
	  padding: 10px 0;
  }
  
  .exposition:hover {
	  border-bottom: 2px solid #2165d3;
	  transition: all 600ms;
  }
  
  .expo__header {
	  margin-top: 0px;
  }
  
  .exposition__img {
    margin-bottom: 5px;
	width: 220px;
  }

  .exposition__date {
    font-size: 14px;
    margin-left: 3px;
    color: #b8b8b8;
  }

  .exposition__name {
    color: #3b3b3b;
    font-family: 'Open Sans Bold';
    margin: 7px 0 0 3px;
  }
  
  .all__expositions {
	  padding-top: 20px;
	  text-align: center;
	  font: 24px 'Open Sans Bold';
  }

  /*----------------------------------- STRUCTURE -------------------------------------------*/
  .administration__info {
    width: 440px;
    float: left;
  }

  .administration__photo {
    width: 170px;
    border-radius: 50%;
  }

  .administration__photo:hover {
    width: 170px;
    height: 170px;
    content: url('../img/kovtanyuk-grey.png');
  }
}
